pandas
python-dotenv
google-generativeai
openpyxl
google-genai
fastapi
uvicorn
python-dotenv
pydantic
numpy
requests
Pillow
python-docx
shutilwhich
langchain
langchain-huggingface
langchain-community
faiss-cpu
unstructured
rank-bm25
bcrypt==4.0.1 
passlib==1.7.4
python-jose[cryptography]==3.3.0
sentence-transformers
unstructured[pdf]
sqlglot
