pandas
python-dotenv
google-generativeai
openpyxl
streamlit
google-genai
fastapi
uvicorn
python-dotenv
pydantic
numpy
requests
Pillow
python-docx
shutilwhich
langchain
langchain-huggingface
langchain-community
faiss-cpu
unstructured
rank-bm25
passlib
streamlit_cookies_manager
python-jose[cryptography]==3.3.0
sentence-transformers
unstructured
bcrypt
